nav, footer, article {
  width: 1000px;
  margin: 0 auto;
  font-family: 'News Cycle', sans-serif;
}

main {
  width: 100%;
}

header {
  background-color: #eeeeee;
  padding-top: 35px;
  padding-bottom: 40px;
  vertical-align: middle;
}

h1 {
  color: #2b3f48;
  display: inline;
  width: 30%;
  font-size: 35px;
  padding-right: 150px;
  font-weight: bold;
}

li {
  display: inline;
}

ul {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #656565;
  font-weight: bold;
  font-size: 15px;
  margin-right: 2em;
}

nav a:hover {
  color: #27ae61;
  font-size: 20px;
}

section:first-child {
  background: rgba(58, 179, 110, 0.8);
  background-image: url("../images/banner.png");
  background-size: cover;
  height: 850px
}

img {
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

article {
  text-align: center;
}

.article1, .article3 {
  color: white;
}

article h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1em;
}

article h3 {
  font-size: 20px;
  margin-bottom: 3em;
  font-weight: bold;
}

article p {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 6em;
}

article a {
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 3.5em;
}

.article1 a {
  background-color: #2b3f48;
  color: white;
}

.article2 {
  padding-top: 100px;
  color: #2b3f48;
}

.article2 a {
  background-color: #27ae61;
  color: white;
}

.contain1, .contain2 {
  height: 600px
}

.contain1 {
  background-color: #eeeeee;
}

.contain2 {
  background-color: #27ae61;
}

.contain2 h2 {
  padding-top: 100px;
}

.article3 a {
  background-color: white;
  color: #27ae61;
}

@media screen and (max-width: 1000px){
  nav, footer, article {
    width: 300px;
    margin: 0 auto;
    font-family: 'News Cycle', sans-serif;
    text-align: center;
  }
  h1 {
    padding-bottom: 2em;
    display: block;
    width: 100%;
    text-align: center;
  }
  li {
    display: block;
    width: 100%;
    margin-right:0;
  }

img {
  margin: 0;
  width:60px;
}

nav a {
  margin-right:0;
}

.article1 h2 {
  font-size: 25px;
  margin-top: 2em;

}

.article1, .article2, .article3 {
  padding-top: 20px;
}

.article2, .article3 {
height: 500px;
}

section:first-child {
  height: 700px;
}

.contain2 h2 {
    padding-top: 0;
}

article a {
  padding: 1em 0.5em;
}

footer {
  padding: 2em 1em;
}
.article2 h2 {
  font-size: 25px;
  margin-top: 2em;

}
.article3 h2 {
  font-size: 25px;
  margin-top: 2em;

}
}
